body { /* Apply a gradient background to the entire body */
    background-color: black;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #000000 25%, #ff0000 75%);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: #fff;
}

#intro-header { /* Style for the intro header section */
    background-color: black;
    padding: 80px;
}

#type_effect { /* Style for the typewriter effect */
    font-family: monospace;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    animation: blink 0.7s step-end infinite;
}

.intro {
    font-size: 12px;
    font-family: serif;
    text-align: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    
}