body {
    background-color: black;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #000000 25%, #ff0000 75%);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: #fff;
}

#intro-header {
    background-color: black;
    padding: 80px;
}

#type_effect {
    justify-content: center;  /* horizontal center */
    align-items: center; 
    font-family: monospace;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    animation: blink 0.7s step-end infinite;
}

h1{
    font-weight: bold;
    font-family: serif;
    text-align: center;

}

.intro {
    font-size: 12px;
    font-family: serif;
    text-align: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    
}